In [5]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv')
df.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
1,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Male,63.83 [50.04-79.16]
2,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Female,56.57 [44.54-70.18]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]
4,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Male,66.08 [53.41-79.76]

In [6]:
df.drop('Indicator', axis =1, inplace = True)

In [9]:
df['First Tooltip'] = df['First Tooltip'].map(lambda x: float(x.split("[")[0]))

In [10]:
df.head()

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
1  Afghanistan    2019        Male          63.83
2  Afghanistan    2019      Female          56.57
3  Afghanistan    2018  Both sexes          62.54
4  Afghanistan    2018        Male          66.08

In [14]:
target = df[(df['Period'] >=2015) & (df['Dim1'] =='Both sexes')]

In [20]:
ans  = target.pivot(index ='Location', columns ='Period', values ='First Tooltip')
ans.head(3)

Period        2015   2016   2017   2018   2019
Location
Afghanistan  70.44  67.57  64.94  62.54  60.27
Albania       9.57   9.42   9.42   9.53   9.68
Algeria      25.18  24.79  24.32  23.81  23.26

In [22]:
Ans = df.pivot_table(index = 'Dim1', columns ='Period', values ='First Tooltip', aggfunc = 'mean')

In [27]:
Ans.iloc[:, :4]

Period            1950        1951        1952        1953
Dim1
Both sexes  147.700816  155.537544  157.811094  156.147206
Female      140.909796  149.210175  151.516094  150.250882
Male        154.151224  161.538246  163.760781  161.742059

In [28]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv')

In [30]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [38]:
kr= df[df['Country'] == 'KOR']

In [34]:
df.Country.value_counts()

USA    653
CAN    625
NOR    457
URS    440
FIN    434
SWE    433
GER    360
SUI    285
AUT    280
RUS    263
ITA    192
GDR    162
TCH    158
FRA    152
NED    122
FRG     94
KOR     87
CHN     82
GBR     79
CZE     75
JPN     63
EUN     60
POL     27
EUA     21
SLO     18
LAT     15
BLR     15
AUS     15
BEL     13
HUN     12
CRO     11
UKR     11
LIE      9
YUG      7
EST      7
KAZ      7
BUL      6
DEN      5
SVK      5
LUX      2
ESP      2
ROU      2
PRK      2
UZB      1
NZL      1
Name: Country, dtype: int64

In [39]:
Ans = kr.pivot_table(index='Year',columns='Medal',aggfunc='size').fillna(0)

In [40]:
Ans

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      0.0   5.0     2.0
2006      2.0  14.0     3.0
2010      2.0   6.0    10.0
2014      2.0   7.0     5.0

In [41]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [42]:
Ans = df.pivot_table(index = 'Sport', columns = 'Gender', aggfunc = 'size')
Ans.head()

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45

In [44]:
Ans = df.pivot_table(index ='Discipline', columns ='Medal', aggfunc ='size')
Ans

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197